.main-nav-toggle {
  composes: callout from '../../../shared/styles/typography.module.css';
  composes: cyan from '../../../shared/styles/colors.module.css';
  cursor: pointer;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 1px dotted #65cbe5;
  position: absolute;
  top: 16px;
  right: 16px;
}

.main-nav-toggle:hover {
  border: 1px solid #ff43a4;
  color: #ff43a4;
}

.main-nav-toggle-sro {
  composes: sro from '../../../shared/styles/accessibility.module.css';
}

.main-nav-list {
  display: none;
  list-style-type: none;
  flex-direction: column;
  margin: 0 0 1rem 0;
  padding: 0;
}

.main-nav-list.show {
  display: flex;
}

.main-nav-list-item {
  composes: callout from '../../../shared/styles/typography.module.css';
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

.main-nav-list-item a {
  color: #65cbe5;
  text-decoration: none;
  border-bottom: 1px dotted #65cbe5;
}

.main-nav-list-item a:hover {
  border-bottom: 1px solid #ff43a4;
  color: #ff43a4;
}

.main-nav-list-item a:active {
  position: relative;
  top: 2px;
  left: 2px;
}

/*  color: #ff43a4; */

@media screen and (min-width: 760px) {
  .main-nav-toggle {
    display: none;
  }

  .main-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .main-nav-list-item {
    width: auto;
  }
}