.sro {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sro-unset {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  overflow: unset;
  clip: unset;
}